/**
 * This injects Tailwind's base styles, which is a combination of
 * Normalize.css and some additional base styles.
 *
 * You can see the styles here:
 * https://github.com/tailwindcss/tailwindcss/blob/master/css/preflight.css
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/preflight";
 */
@tailwind preflight;

:focus {
  outline-color: #3490dc;
}

a {
  text-decoration: none;
}

table {
  @apply shadow-lg;
  @apply rounded-lg;
}

.title {
  @apply font-bold;
  @apply text-blue-darker;
}

.input {
  @apply p-2;
  @apply font-normal;
  @apply rounded;
  @apply text-grey-darkest;
  @apply border;
  @apply border-grey;
}
.input.error {
  @apply border;
  @apply border-red;
}
.input-error-message {
  margin-top: -3px;
  @apply border;
  @apply border-red;
  @apply p-2;
  @apply text-white;
  @apply bg-red-light;
  @apply text-sm;
  @apply rounded-b
}

.textarea {
  @apply p-2;
  @apply font-normal;
  @apply rounded;
  @apply text-grey-darkest;
  @apply border;
  @apply border-grey;
  @apply h-32;
}
.textarea.error {
  @apply border;
  @apply border-red;
}

.label {
  @apply mt-2;
  @apply mb-1;
  @apply font-bold;
  @apply text-grey-darkest;
}

.button {
  @apply py-2;
  @apply px-3;
  @apply mx-1;
  @apply font-normal;
  @apply rounded;
  @apply bg-grey-dark;
  @apply text-white;
  @apply font-bold;
  /* @apply uppercase;
  @apply text-xs; */
  transition-duration: 0.1s;
}
.button.disabled {
  cursor: not-allowed;
  opacity: 0.5;
}
.button:hover {
  @apply bg-grey-dark;
}

.button.primary {
  @apply bg-blue;
  @apply text-white;
}
.button.primary:hover {
  @apply bg-blue-dark;
}

.button.white {
  @apply bg-white;
  @apply text-blue;
}
.button.white:hover {
  @apply bg-blue-lightest;
}

.button.success {
  @apply bg-green;
  @apply text-white;
}
.button.success:hover {
  @apply bg-green-dark;
}

.button.danger {
  @apply bg-red;
  @apply text-white;
}
.button.danger:hover {
  @apply bg-red-dark;
}

.button.warning {
  @apply bg-yellow;
  @apply text-black;
}
.button.warning:hover {
  @apply bg-yellow-dark;
}

.button.teal {
  @apply bg-teal;
  @apply text-white;
}
.button.teal:hover {
  @apply bg-teal-dark;
}

.button.purple {
  @apply bg-purple;
  @apply text-white;
}
.button.purple:hover {
  @apply bg-purple-dark;
}


.spin {
  -webkit-animation: spinner 1s infinite; /* Safari 4+ */
  -moz-animation:    spinner 1s infinite; /* Fx 5+ */
  -o-animation:      spinner 1s infinite; /* Opera 12+ */
  animation:         spinner 1s infinite; /* IE 10+, Fx 29+ */
}

@keyframes spinner {
  from {transform: rotate(0deg);}
  to {transform: rotate(360deg);}
}

.pulsar {
  -webkit-animation: pulsar 1.2s infinite; /* Safari 4+ */
  -moz-animation:    pulsar 1.2s infinite; /* Fx 5+ */
  -o-animation:      pulsar 1.2s infinite; /* Opera 12+ */
  animation:         pulsar 1.2s infinite; /* IE 10+, Fx 29+ */
}

@keyframes pulsar {
  from {color: normal;}
  50% {color: transparent;}
  to {color: normal;}
}


.dropzone {
  @apply border-2;
  @apply border-dashed;
  @apply border-grey-dark;
  @apply rounded;
  padding: 0px 0px;
  min-height: 100px;
  transition-duration: 0.3s;
}
.dropzone .drop-reciever {
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: inherit;
  opacity: 0;
}
.dropzone:hover {
  @apply border-blue;
}

.dropzone-message {
  position: relative;
  top: 50px;
}

.dropzone .is-dragging {
  @apply border-blue;
}

.dropzone-content {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.dropzone-content span {
  padding: 5px;
  margin: 5px;
  border-radius: 10px;
  @apply bg-white;
  display: flex;
  border-radius: 10px;
  transition-duration: 0.3s;
}
.dropzone-content span:hover {
  box-shadow: 0 5px 15px rgba(50,50,93,.1), 0 5px 15px rgba(96, 96, 96, 0.07);
}
.dropzone-content span a {
  display: flex;
  position: absolute;
  z-index: 3;
}
.dropzone-content span img {
  display: flex;
  max-height: 200px;
  max-width: 100%;
  border-radius: inherit;
}

/**
 * This injects any component classes registered by plugins.
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/components";
 */
@tailwind components;

/**
 * Here you would add any of your custom component classes; stuff that you'd
 * want loaded *before* the utilities so that the utilities could still
 * override them.
 *
 * Example:
 *
 * .button { ... }
 * .form-input { ... }
 *
 * Or if using a preprocessor or `postcss-import`:
 *
 * @import "components/buttons";
 * @import "components/forms";
 */

/**
 * This injects all of Tailwind's utility classes, generated based on your
 * config file.
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/utilities";
 */
@tailwind utilities;

/**
 * Here you would add any custom utilities you need that don't come out of the
 * box with Tailwind.
 *
 * Example :
 *
 * .bg-pattern-graph-paper { ... }
 * .skew-45 { ... }
 *
 * Or if using a preprocessor or `postcss-import`:
 *
 * @import "utilities/background-patterns";
 * @import "utilities/skew-transforms";
 */
