// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.duration-1 { transition-duration: 0.1s; }
.duration-2 { transition-duration: 0.2s; }
.duration-3 { transition-duration: 0.3s; }
.duration-4 { transition-duration: 0.4s; }
.duration-5 { transition-duration: 0.5s; }
.duration-6 { transition-duration: 0.6s; }
.duration-8 { transition-duration: 0.8s; }

body {
  height: 100% !important
}

.fa {
  padding: 0px 5px;
}
.fa-normal {
  padding: 0px 0px !important;
}